.Layout-Headbar {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
}

.Layout-Headbar__brand {
  display: flex;
  background: silver;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
}

.Layout-Headbar__nav {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 150px);
}

.Layout-Headbar__nav li {
  display: inline-block;
  padding: 0 10px;
}
