.Layout {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.Layout__HeaderBar {
  width: 100%;
  height: 100px;
}

.Layout__SearchBar {}

.Layout__Breadcrumbs {}

.Layout__LeftColumn {}

.Layout__RightColumn {}

.Layout__Content {
  width: 100%;
}

.Layout__FooterBar {}
