.Layout {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.Layout__Headbar {
  width: 100%;
  height: 100px;
}

.Layout__Sidebar {
  width: 300px;
}

.Layout__Content {
  width: calc(100% - 300px);
}
