.Layout {
  width: 100%;
  min-height: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.Layout__HeaderBar {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid silver;
}

.Layout__SearchBar {
  width: 100%;
  border-bottom: 1px solid silver;
}

.Layout__Breadcrumbs {
  width: 100%;
  border-bottom: 1px solid silver;
}

.Layout__Body {
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
  flex: 1;
}

.Layout__LeftColumn {
  width: 200px;
  min-height: 100%;
  border-right: 1px solid silver;
  flex-shrink: 0;
}

.Layout__RightColumn {
  width: 200px;
  min-height: 100%;
  border-left: 1px solid silver;
  flex-shrink: 0;
}

.Layout__Content {
  flex: 1;
}

.Layout__FooterBar {
  height: 150px;
  border-top: 1px solid silver;
  flex-shrink: 0;
}
